{% load static %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Manaudi | Inventarios{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <!-- ================== BEGIN core-css ================== -->
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/default/app.min.css' %}" rel="stylesheet"/>
    <!-- ================== END core-css ================== -->

    {% block extra_css %}{% endblock %}
</head>
<body>
<!-- BEGIN #loader -->
<div id="loader" class="app-loader">
    <span class="spinner"></span>
</div>
<!-- END #loader -->

<!-- BEGIN #app -->
<div id="app" class="app app-header-fixed app-sidebar-fixed ">
    <!-- BEGIN #header -->
    <div id="header" class="app-header">
        {% block menu_navegacion %}
            <!-- BEGIN navbar-header -->
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><span class="navbar-logo"></span> <b class="me-3px">BenderClon</b>
                    Developer</a>
                <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- END navbar-header -->
            <!-- BEGIN header-nav -->
            <div class="navbar-nav">
                <div class="navbar-item navbar-form">
                    <form action="" method="POST" name="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Búsqueda en la página"/>
                            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="navbar-item navbar-user dropdown">
                    <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                        <img src="{% static 'img/user/user-13.jpg' %}" alt=""/>
                        <span>
                            <span class="d-none d-md-inline">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end me-1">
                        <a href="{% url 'inicio' %}" class="dropdown-item">Editar Perfil</a>
                        <a href="{% url 'logout' %}" class="dropdown-item">Salir Sistema</a>
                    </div>
                </div>
            </div>
            <!-- END header-nav -->
        {% endblock %}
    </div>
    <!-- END #header -->

    <!-- BEGIN #sidebar -->
    <div id="sidebar" class="app-sidebar" data-bs-theme="dark">
        <!-- BEGIN menu -->
        {% block sidebar_menu %}
            <div class="menu">
                <div class="menu-header">Navegación</div>
                {% if request.user|pertenece_grupo:"Contabilidad" %}
                <div class="menu-item has-sub active">
                    <a href="javascript:;" class="menu-link">
                        <div class="menu-icon">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="menu-text">Consultas ID</div>
                        <div class="menu-caret"></div>
                    </a>
                    <div class="menu-submenu">
                        <div class="menu-item active">
                            <a href="{% url 'consulta_id' %}" class="menu-link">
                                <div class="menu-text">Cédula</div>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="#" class="menu-link">
                                <div class="menu-text">RUC</div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="menu-item has-sub">
                    <a href="javascript:;" class="menu-link">
                        <div class="menu-icon">
                            <i class="fa fa-industry"></i>
                        </div>
                        <div class="menu-text">Manejo Empresas</div>
                        <div class="menu-caret"></div>
                    </a>
                    <div class="menu-submenu has-sub">
                        <div class="menu-item active">
                            <a href="{% url 'empresa_list' %}" class="menu-link">
                                <div class="menu-text">Empresas</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-clipboard-list"></i>
                    </div>
                    <div class="menu-text">Manejo Inventarios</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item">
                        <a href="{% url 'categoria_list' %}" class="menu-link">
                            <div class="menu-text">Categorias</div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="{% url 'producto_list' %}" class="menu-link">
                            <div class="menu-text">Productos</div>
                        </a>
                    </div>
                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">Movimientos</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="{% url 'movimiento_inventario' %}" class="menu-link">
                                    <div class="menu-text">Registrar Movimiento</div>
                                    <div class="menu-caret"></div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="javascript:;" class="menu-link">
                                    <div class="menu-text">Lista Movimientos</div>
                                    <div class="menu-caret"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="menu-item">
                <a href="/" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="menu-text">Calendario</div>
                </a>
            </div>
            </div>
            <!-- END menu -->
        {% endblock %}
</div>
<div class="app-sidebar-bg" data-bs-theme="dark"></div>
<!-- END #sidebar -->

<!-- BEGIN #content -->
<div id="content" class="app-content">
    {% block encabezado %}
    {% endblock %}

    {% block contenido %}
        <!-- BEGIN row -->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="widget widget-stats bg-blue">
                    <div class="stats-icon"><i class="fa fa-desktop"></i></div>
                    <div class="stats-info">
                        <h4>TOTAL VISITORS</h4>
                        <p>3,291,922</p>
                    </div>
                    <div class="stats-link">
                        <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END row -->
    {% endblock %}
</div>
<!-- END #content -->

<!-- BEGIN scroll-top-btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-theme btn-scroll-to-top" data-toggle="scroll-to-top"><i
        class="fa fa-angle-up"></i></a>
<!-- END scroll-top-btn -->
</div>
<!-- END #app -->

<!-- ================== BEGIN core-js ================== -->
<script src="{% static 'js/vendor.min.js' %}"></script>
<script src="{% static 'js/app.min.js' %}"></script>
<!-- ================== END core-js ================== -->
{% block extra_js %}{% endblock %}
</body>
</html>
