{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block title %}Registrar Traslado de Inventario{% endblock %}
{% block extra_css %}
    <link href="{% static "plugins/select2/dist/css/select2.min.css" %}" rel="stylesheet"/>
{% endblock %}

{% block contenido %}
<h1>Registrar Traslado de Inventario</h1>

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

<form method="post" id="traslado-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_sucursal_origen">Sucursal Origen:</label>
        {{ form.sucursal_origen }}
    </div>
    <div class="form-group">
        <label for="id_sucursal_destino">Sucursal Destino:</label>
        {{ form.sucursal_destino }}
    </div>
    <div class="form-group">
        <label for="id_producto">Producto:</label>
        {{ form.producto }}
    </div>
    <div class="form-group">
        <label for="id_cantidad">Cantidad Entregada:</label>
        {{ form.cantidad_entregada }}
    </div>
    <div class="form-group">
        <label for="id_tipo_documento">Tipo de Documento:</label>
        {{ form.tipo_documento }}
    </div>
    <div class="form-group">
        <label for="id_documento_respaldo">Documento Respaldo:</label>
        {{ form.documento_respaldo }}
    </div>
    <div class="form-group">
        <label for="id_documento_soporte">Documento Soporte:</label>
        {{ form.documento_soporte }} <!-- Campo para subir el archivo -->
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Registrar Traslado</button>
</form>
<br>
<br>
<h2>Traslados Recientes</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Sucursal Origen</th>
            <th>Sucursal Destino</th>
            <th>Cantidad Entregada</th>
            <th>Estado</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Documento Respaldo</th>
        </tr>
    </thead>
    <tbody>
        {% for traslado in traslados_recientes  %}
        <tr>
            <td>{{ traslado.producto.codigo }} -- {{ traslado.producto.nombre }}</td>
            <td>{{ traslado.sucursal_origen.nombre }}</td>
            <td>{{ traslado.sucursal_destino.nombre }}</td>
            <td>{{ traslado.cantidad_entregada }}</td>
            <td>{{ traslado.get_estado_display }}</td>
            <td>{{ traslado.usuario.username }}</td>
            <td>{{ traslado.fecha_creacion }}</td>
            <td>{{ traslado.get_tipo_documento_display }}</td>
            <td>{{ traslado.documento_respaldo }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'plugins/select2/dist/js/select2.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Aplicar Select2 a los campos select
            $('#id_producto').select2({
                placeholder: 'Seleccione un producto',
                allowClear: true
            });

            $('#id_sucursal_origen').select2({
                placeholder: 'Seleccione la sucursal de origen',
                allowClear: true
            });

            $('#id_sucursal_destino').select2({
                placeholder: 'Seleccione la sucursal de destino',
                allowClear: true
            });

            $('#id_tipo_documento').select2({
                placeholder: 'Seleccione un tipo de documento',
                allowClear: true
            });
        });
    </script>
{% endblock %}