{% extends 'base.html' %}
{% block title %}Listado de Movimientos{% endblock %}

{% block contenido %}
    <h1>Listado de Movimientos</h1>

    {% if movimientos %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Sucursal Origen</th>
                <th>Sucursal Destino</th>
                <th>Cantidad</th>
                <th>Tipo de Movimiento</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            {% for movimiento in movimientos %}
                <tr>
                    <td>{{ movimiento.producto.codigo }}</td>
                    <td>{{ movimiento.producto.nombre }}</td>
                    <td>{{ movimiento.sucursal.nombre }}</td>
                    <td>
                        {% if movimiento.sucursal_destino %}
                            {{ movimiento.sucursal_destino.nombre }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>{{ movimiento.cantidad }}</td>
                    <td>{% if movimiento.tipo_movimiento == 'traslado' %}
                        Traslado -
                        {% if movimiento.estado_recepcion %}
                            {{ movimiento.get_estado_recepcion_display }}
                        {% else %}
                            Desconocido
                        {% endif %}
                    {% else %}
                        {{ movimiento.get_tipo_movimiento_display }}
                    {% endif %}</td>
                    <td>{{ movimiento.fecha }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron movimientos.</p>
    {% endif %}
{% endblock %}
