{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block title %}Registrar Movimiento de Inventario{% endblock %}
{% block extra_css %}
    <link href="{% static "plugins/select2/dist/css/select2.min.css" %}" rel="stylesheet"/>
{% endblock %}

{% block contenido %}
<h1>Registrar Movimiento de Inventario</h1>

<!-- Mostrar mensajes de éxito o error -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible fade show alert-{{ message.tags }} shadow-sm mb-4">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>{{ message|capfirst }}</strong>
        </div>
    {% endfor %}
{% endif %}

<!-- Mostrar errores no relacionados a campos específicos -->
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

<form method="post" id="movimiento-form" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Campo Sucursal Origen -->
    <div class="form-group">
        <label for="id_sucursal">Sucursal Origen:</label>
        {{ form.sucursal }}
        {% if form.sucursal.errors %}
            <div class="alert alert-danger">
                {% for error in form.sucursal.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Campo Producto -->
    <div class="form-group">
        <label for="id_producto">Producto:</label>
        {{ form.producto }}
        {% if form.producto.errors %}
            <div class="alert alert-danger">
                {% for error in form.producto.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Campo Tipo Movimiento -->
    <div class="form-group">
        <label for="id_tipo_movimiento">Tipo Movimiento:</label>
        {{ form.tipo_movimiento }}
        {% if form.tipo_movimiento.errors %}
            <div class="alert alert-danger">
                {% for error in form.tipo_movimiento.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Campo Cantidad -->
    <div class="form-group">
        <label for="id_cantidad">Cantidad:</label>
        {{ form.cantidad }}
        {% if form.cantidad.errors %}
            <div class="alert alert-danger">
                {% for error in form.cantidad.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Campo Comentario -->
    <div class="form-group">
    <label for="id_comentario">Comentario:</label>
    <input list="razones-sugeridas" class="form-control" name="comentario" id="id_comentario">
    <datalist id="razones-sugeridas">
        <option value="INVENTARIO INICIAL">
        <option value="DEVOLUCIÓN DE PRODUCTO">
        <option value="CORRECCIÓN DE STOCK">
        <option value="TRANSFERENCIA ENTRE SUCURSALES">
        <option value="AJUSTE POR PÉRDIDA">
        <option value="AJUSTE POR AUDITORÍA">
        <option value="PRODUCTO DEFECTUOSO">
        <option value="CAMBIO DE MODELO DE LENTES">
        <option value="CAMBIO DE MONTURA">
        <option value="REPARACIÓN DE MONTURA">
        <option value="AJUSTE DE LENTES">
        <option value="PEDIDO ESPECIAL">
        <option value="LENTES DE CONTACTO NO COMPATIBLES">
        <option value="REEMBOLSO POR PRODUCTO NO ENTREGADO">
        <option value="DESCUENTO APLICADO INCORRECTAMENTE">
        <option value="ERROR EN LA FACTURACIÓN">
        <option value="REVISIÓN DE LENTES POR PROBLEMAS DE VISIÓN">
        <option value="ACTUALIZACIÓN DE PRESCRIPCIÓN">
        <option value="SOLICITUD DE REVISIÓN DE STOCK">
        <option value="DEVOLUCIÓN POR MAL AJUSTE">
        <option value="AJUSTE POR ROTURA DEL PRODUCTO">
        <option value="REPOSICIÓN POR PÉRDIDA">
    </datalist>
    {% if form.comentario.errors %}
        <div class="alert alert-danger">
            {% for error in form.comentario.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
    <div class="form-group">
        <label for="id_tipo_documento">Tipo de Documento:</label>
        {{ form.tipo_documento }}
        {% if form.tipo_documento.errors %}
            <div class="alert alert-danger">
                {% for error in form.tipo_documento.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Campo Documento Respaldo -->
    <div class="form-group">
        <label for="id_documento_respaldo">Documento Respaldo:</label>
        {{ form.documento_respaldo }}
        {% if form.documento_respaldo.errors %}
            <div class="alert alert-danger">
                {% for error in form.documento_respaldo.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Campo Documento Soporte -->
    <div class="form-group">
        <label for="id_documento_soporte">Documento Soporte:</label>
        {{ form.documento_soporte }}
        {% if form.documento_soporte.errors %}
            <div class="alert alert-danger">
                {% for error in form.documento_soporte.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Registrar Movimiento</button>
</form>
<br>
<br>
<h2>Movimientos Recientes</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Sucursal Origen</th>
            <th>Cantidad</th>
            <th>Tipo de Movimiento</th>
            <th>Fecha</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>
        {% for movimiento in movimientos %}
        <tr>
            <td>{{ movimiento.producto.codigo }} -- {{ movimiento.producto.nombre }}</td>
            <td>{{ movimiento.sucursal.nombre }}</td>
            <td>{{ movimiento.cantidad }}</td>
            <td>{{ movimiento.get_tipo_movimiento_display }}</td>
            <td>{{ movimiento.fecha }}</td>
            <td>{{ movimiento.comentario }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'plugins/select2/dist/js/select2.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Apply Select2 to the select fields
            $('#id_producto').select2({
                placeholder: 'Seleccione un producto',
                allowClear: true
            });

            $('#id_sucursal').select2({
                placeholder: 'Seleccione una sucursal',
                allowClear: true
            });

            $('#id_tipo_documento').select2({
                placeholder: 'Seleccione un tipo de documento',
                allowClear: true
            });
            // Detect when "INVENTARIO INICIAL" is selected in the comentario field
            document.getElementById('id_comentario').addEventListener('input', function() {
                if (this.value === 'INVENTARIO INICIAL') {
                    // Set "OTROS" as the value for tipo_documento
                    // document.getElementById('id_tipo_documento').value = 'Otros';

                    // Set "000-000-000000000" as the value for documento_respaldo
                    document.getElementById('id_documento_respaldo').value = '000-000-000000000';
                }
            });
        });
    </script>
{% endblock %}