{% extends 'base.html' %}
{% load static %}
{% block title %}Movimientos por Empresa{% endblock %}

{% block extra_css %}
    <link href="{% static 'plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}"
          rel="stylesheet"/>
{% endblock %}

{% block contenido %}
    <h1>Movimientos de Inventario para {{ empresa.nombre }}</h1>
    <div class="row">
        <div class="col-xl-12">
            <div class="panel panel-inverse" style="">
                <div class="panel-heading ui-sortable-handle">
                    <h4 class="panel-title">Tabla Movimientos</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i
                                class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i
                                class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="movimientos-table" class="table mb-0">
                            <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Producto</th>
                                <th>Sucursal</th>
                                <th>Cantidad</th>
                                <th>Tipo Movimiento</th>
                                <th>Fecha</th>
                                <th>Responsable</th>
                                <th>Comentario</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for movimiento in movimientos %}
                                    <tr>
                                        <td>{{ movimiento.producto.codigo }}</td>
                                        <td>{{ movimiento.producto.nombre }}</td>
                                        <td>{{ movimiento.sucursal.nombre }}</td>
                                        <td>{{ movimiento.cantidad }}</td>
                                        <td>{{ movimiento.get_tipo_movimiento_display }}</td>
                                        <td>{{ movimiento.fecha }}</td>
                                        <td>{{ movimiento.usuario.first_name }} {{ movimiento.usuario.last_name }}</td>
                                        <td>{{ movimiento.comentario }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="panel panel-inverse" style="">
                <!-- BEGIN panel-heading -->
                <div class="panel-heading ui-sortable-handle">
                    <h4 class="panel-title">Tabla Traslados</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i
                                class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i
                                class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="traslados-table" class="table mb-0">
                            <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Producto</th>
                                <th>Sucursal Origen</th>
                                <th>Sucursal Destino</th>
                                <th>Cantidad Entregada</th>
                                <th>Cantidad Recibida</th>
                                <th>Estado</th>
                                <th>Fecha</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for traslado in traslados %}
                                <tr>
                                    <td>{{ traslado.producto.codigo }}</td>
                                    <td>{{ traslado.producto.nombre }}</td>
                                    <td>{{ traslado.sucursal_origen.nombre }}</td>
                                    <td>{{ traslado.sucursal_destino.nombre }}</td>
                                    <td>{{ traslado.cantidad_entregada }}</td>
                                    <td>{{ traslado.cantidad_recibida }}</td>
                                    <td>{{ traslado.get_estado_display }}</td>
                                    <td>{{ traslado.fecha_creacion }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'plugins/datatables.net/js/dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#movimientos-table, #traslados-table').DataTable({
                responsive: true,
                paging: true,
                searching: true,
                ordering: true,
                pageLength: 50,   // Muestra 100 registros por página
                lengthMenu: [50, 100, 200, 400],
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "emptyTable": "No hay movimientos para esta sucursal.",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                order: [[6, 'asc']]  // Ordena por fecha de forma descendente
            });
        });
    </script>
{% endblock %}
